<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>직원 상세 페이지</title>
</head>
<style>
    .layout {
        width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<div class="layout">
    <h2>직원 상세 페이지</h2>
    <table border="1">
        <thead>
        <tr>
            <th>직원 아이디</th>
            <th>직원 입사 일자</th>
            <th>직원 퇴사 일자</th>
            <th>직무 내용</th>
            <th>부서 아이디</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${detail}">
            <td th:text="${history.employeeId}"></td>
            <td th:text="${history.startDate}"></td>
            <td th:text="${history.endDate}"></td>
            <td th:text="${history.jobId}"></td>
            <td th:text="${history.departmentId}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>