<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>직원 목록 페이지</title>
</head>
<style>
    .layout {
        width: 1000px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
    <div class="layout">
        <table>
            <thead>
            <tr>
                <th>직원 아이디</th>
                <th>직원 이름</th>
                <th>직원 성</th>
                <th>직원 이메일</th>
                <th>직원 연락처</th>
                <th>직원 채용 날짜</th>
                <th>직원 직책</th>
                <th>급여</th>
                <th>수수료</th>
                <th>매니저 아이디</th>
                <th>부서 아이디</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${list}">
                    <td th:text="${employee.employeeId}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phoneNumber}"></td>
                    <td th:text="${employee.hireDate}"></td>
                    <td th:text="${employee.jobId}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td th:text="${employee.commissionPct}"></td>
                    <td th:text="${employee.managerId}"></td>
                    <td th:text="${employee.departmentId}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>